@import "../var";
.feature {
  padding: 21px 0;

  @media @tablet-up {
    padding: 89px 0;
  }

  &__title {
    text-align: center;

    @media @tablet-up {
      font-size:50px;
    }
  }

  &__desc {
    text-align: center;
    @media @tablet-up {
      margin-bottom: 89px;
    }

  }
}
