@import "var";

.pixlogic {
  .btn {
    border: 0;
    border-radius: 2px;
    display: inline-block;
    font-weight: 700;
    font-size: 13px;
    height: 45px;
    letter-spacing: 1px;
    line-height: 45px;
    margin-bottom: 10px;
    padding: 0 25px;
    text-transform: uppercase;

    &--primary {
      background:@pixOrange;
      border: 1px solid @pixOrange;
      color: #fff;
      transition: background .3s ease;

      &:hover, &:active, &:focus {
        color: #fff;
        background:@pixOrangeDark;
        border-color:@pixOrangeDark;
      }
    }

    &--primary.btn--hollow {
      background: transparent;
      color: @pixOrange;

      &:hover, &:active, &:focus {
        color: #fff;
        background:@pixOrangeDark;
        border-color:@pixOrangeDark;
      }
    }

    &--sm {
      height: @sm-height;
      line-height: @sm-height;
    }

    &--center {
      margin: 0 auto;
      display: table;
    }

    &--social {
      height: @sm-height;
      line-height: @sm-height;
      margin: 0 5px 0;
      padding: 0;
      width: @sm-height;
    }
  }

}
