@import "var";

.page-title-callout {
  position: relative;
  min-height: 250px;

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: @z-background;
  }

  &__text {
    padding-top: @headerNavHeight;
    position: relative;
    z-index: @z-text;
  }

  h1 {
    color: #fff;
    font-size: 34px;
    .font-play;
    margin: 0;
    padding: 20px 20px 40px;

    @media @tablet-up {
      font-size: 50px;
      padding: 100px 0 115px;
    }

    .page-title-callout__intro {
      color: @pixOrange;
      display: block;
      .font-sans;
      font-size: 16px;
      font-weight: @font-bold;
      text-transform: uppercase;
      margin-bottom: 8px;
    }
  }

  &__alt {
    padding-top:@headerNavHeight;
    h1 {padding:0;}
  }
}
