@grayBlack: #1c1c1c;
@grayDark: #252525;
@grayMed: #9b9b9b;
@grayLight: #dadada;

@pixOrange: #f6952a;
@pixOrangeDark: #e68921;
@pixDarkBrown: #2d2622;

@fedRed: #eb2227;
@fedRedDark: #cd1d21;

@font-bold:700;

@sm-height:28px;

.font-play(){
  font-family: 'Play', serif;
}
.font-sans(){
  font-family: 'Open Sans', sans-serif;
}

.mb-c(){
  overflow:hidden; _overflow:visible; zoom:1;
}
.mb-img(){
  float:left; margin-right: 10px;
}
.mb-bdy(){
  overflow:hidden; _overflow:visible; zoom:1;
  overflow:hidden; _overflow:visible; zoom:1;
}

.small-text(){
  display: inline-block;
  font-size: 11px;
  font-weight: @font-bold;
  text-transform: uppercase;
}

.card(){
  background: #fff;
  border: 1px solid #c2bfbe;
  border-radius: 2px;
  padding: 41px 34px;
  margin-bottom: 13px;
}

.card-title(){
  color: #000;
  display: inline-block;
  font-size: 20px;
  .font-play;
  font-weight: @font-bold;
  margin-bottom: 21px;
}

.card-content(){
  @media @tablet-up {
    min-height: 308px;
  }
}

.card-date(){
  color:#bab4b1;
  .small-text;
}

.card-read-more(){
  color: @pixOrange;
  .small-text;
}

/*heights*/
@headerNavHeight: 90px;

/*queries*/
@mobile: ~"screen and (max-width:767px)";
@tablet-up: ~"screen and (min-width:768px)";
@desktop-up: ~"screen and (min-width:992px)";

/*Z-INDEX*/
@z-header: 999;
@z-text: 1;
@z-background: 0;
